.inner{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-self: center;
    padding-top:130px;
    margin-left: 450px;
    width: 500px;
}
.but{
    border:none;
    background:none;
}
.main{
    background-image: url("https://assets.ccbp.in/frontend/react-js/reviews-bg.png");
    height:100vh;
}
